.about {
    margin-top: 5rem;
    display: flex;
    height: 95vh;
}


.tabs {
    width: 10%;
    position: fixed;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
}

.tab-list{
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 25px;
    padding: 0;
    margin: 0;
}

.tab-item{}

.tab-button{
    font-size: 0.8rem;
    padding-top: 5px;
}



.tab-button.selected{

}

.about-content{
    width: 90%;
    margin-left: 11%;
    margin-right: 5%;
    font-size: 0.75rem; 
    line-height: 1.5;
    text-align: center;
}

.tab-group {
    padding-bottom: 2rem;
}


.tab-title {
    text-decoration: underline;
}

.welcome-tab .tab-group{
    margin-left: 10%;
    margin-right: 10%;
}

.emphasis {
    font-size: 0.8rem;
    color: var(--eText);
}

.welcome-tab{
    text-align: center;
}

.strat-chart {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.table-title {
    line-height: 0.75;
    margin-bottom: -10px;
}

.strat-table {
    border-collapse: collapse;
    margin: 2rem;
    width: fit-content;
    text-align: center;
    font-family: var(--font);
    background: #3c7596;
}

.hit-cell {
    background: #cc0000;
}

.table-top-row {
    text-align: center;
}

.strat-table th {
    border: 2px solid #fff;
    padding: 3px;
}

.strat-table td {
    border: 2px solid #fff;
    font-size: 0.7rem;
    font-family: system-ui;
}

.strat-table td,
.strat-table th:not(.table-top-row) {
  width: 2rem;     /* Set your fixed size */
  height: 2rem;
}

.how2-link{
    text-decoration: underline;
    color:#3c7596;
    cursor: pointer;
}
html {
  scroll-behavior: smooth;
}
#how-to-play {
  scroll-margin-top: 70px;
}

.graph-img {
    width: 450px; /*1.671x*/
    height: 278px;
}

.equation {
    color: var(--eText);
    font-family: system-ui, sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    font-style: italic;
}

.equation.smallList {
    font-size: 1rem;
    text-align: left;
    display: inline-block;
}

@media (max-width: 600px) {
    .equation {
        font-size: 1rem;
    }
    .equation.smallList {
    font-size: 0.8rem;
}
    .graph-img {
        width: 200px; /*1.671x*/
        height: 124px;
    }
    .tab-button{
        font-size: 0.5rem;
    }
    .about-content{
        width: 80%;
        margin-left: 20%;
        margin-right: 3%; 
        font-size: 0.6rem;
    }
    
    .strat-table th {
        padding: 1px;
    }

    .strat-table td {
        font-size: 0.5rem;
    }

    .strat-table td,
    .strat-table th:not(.table-top-row) {
        width: 1rem;     /* Set your fixed size */
        height: 1rem;
    }
    .welcome-tab .tab-group{
    margin-left: 0;
    margin-right: 0;
}
}

@media (max-width: 750px) {
    .strat-chart{
        flex-direction: column;

    }
    .about-content{
        font-size: 0.65rem;
        margin-left: 15%;
   }
}