.header {
  margin: 1rem;
}

.title {
  position: absolute;
  top: 2%;
  left: 3%;
}

.title h1 {
  cursor: pointer;
}

.header-list {
  position: absolute;
  top: 25px;
  right: 5%;
  list-style: none;
}

.header-button {
  padding: 0.5rem;
}

@media (max-width: 600px) {
  .header-button {
    font-size: 0.7rem;
  }
  .header-list {
    top: 20px;
  }
}
