.header {
  margin: 1rem;
}

.title {
  position: absolute;
  top: 2%;
  left: 3%;
}

.logo {
  height: 102px;       /* 77x51 , 1.51 */
  width: 154px;
  image-rendering: pixelated; /* Force nearest-neighbor scaling */

}

@media (max-width: 750px){
  .logo{ 
    height: 51px;
    width: 77px;
  }
}


.title h1 {
  cursor: pointer;
}

.header-list {
  position: absolute;
  top: 25px;
  right: 5%;
  list-style: none;
}

.header-button {
  padding: 0.5rem;
}

@media (max-width: 600px) {
  .header-button {
    font-size: 0.7rem;
  }
  .header-list {
    top: 15px;
  }
}
